.head {
	text-align: center;
	font-size: 15px;
}

#contact {
	width: 70%;
	margin:auto;
	border: 2px dotted black;
	text-align:center;
	padding: 10px 5px;
	
}

#objective {
	width: 85%;
	margin: auto;
	text-align: center;
}
h1 {
	border-bottom: 2px solid black;
	padding: 10px;
	font-size: 50px;
}

h2{ 
  color:white;
  font-size:20px;
  font-family:Georgia;
  border:5px solid #707373;
  background:#500000;
  text-align: center;
}

img {
	height: 40px;
	width: 50%;
}
		
td,
th {
	border: 1px solid black;
	padding: 0 10px;
}

body {
	font-family: Georgia;
    margin: auto;
		width: 900px;
		font-size: 15px;
}

ul {
	width: 90%;
	margin: auto;
}

.table {
	align-content: center;
	align-items: center;
	margin: auto;
}